.logo{
    width: 160px;
    height: auto;
    padding: 15px;
    margin-top: 6px;

}

.cabeza {
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    position: absolute;
}

.menu-toggle{
    display: none;
    margin-left: auto;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
}

#navegador ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

#navegador ul li a{
    font-family: 'Long Cang', cursive;
    font-size: 20px;
    color: white;
    position: relative;
    text-decoration: none;
    line-height: 80px;
    padding: 6px 13px;
    transition: .2s;
}

#navegador ul li a.active,
#navegador ul li a:hover{
    background: #3498DB;
    border-radius: 2px;
}